.facePic img{

	width:200px;
	height:200px;
	border-radius: 50%;
}
.facePic{

	position: fixed;
}
.header {
  width: 250px;              
  height: 100vh;             
  position: fixed;          
  top: 0;
  left: 0;
  background: #222;          
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}